# Python
__pycache__/
dashboard/__pycache__/
dashboard/forms/__pycache__
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/

# Virtual env
venv/
env/

# VS Code
.vscode/
manage.zip
*.zip

# Environment variables
.env