    
      {% load static %}
   
    <section class="ep-service-section-two style2 content">
      <div class="container">
        <div class="section-title text-center mb-60">
          <h2 class="title heading-three split-text right">
            Shipping containers we<span>offer</span>
          </h2>
        </div>
        <div class="row g-4">
          <div class="col-lg-6 col-xl-4 col-md-6 mx-auto mx-xl-0 fade-up">
            <div class="service-two-item hover-effect bg-white rounded-20 overflow-hidden">
              <div class="img overflow-hidden rounded-20 position-relative">
                <a href="#" class="d-block w-100">
                  <div class="overlay-shape">
                    <img src="{% static 'mainWebsite/img/service/services_continer_20_ft.png'%}" alt="service-two-img" class="img-fluid container-img">
                  </div>
                </a>
                </div>
              <div class="text pt-30">
                <h4 class="title heading-four mb-3">
                  <a href="#">20FT standard container</a>
                </h4>
                <p>Compact, secure, and versatile. Perfect for transporting smaller shipments, heavy 
                    cargo, and general goods safely across domestic and international routes.</p>
                <a href="{% url 'contact'%}" class="theme-btn mt-4 rounded-pill d-inline-flex align-items-center">Book Now </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4 col-md-6 mx-auto mx-xl-0 fade-up">
            <div class="service-two-item hover-effect bg-white rounded-20 overflow-hidden">
              <div class="img overflow-hidden rounded-20 position-relative">
                <a href="#" class="d-block w-100">
                  <div class="overlay-shape">
                    <img src="{% static 'mainWebsite/img/service/services_container_40_ft.png'%}" alt="service-two-img" class="img-fluid w-100 container-img">
                  </div>
                </a>
                </div>
              <div class="text pt-30">
                <h4 class="title heading-four mb-3">
                  <a href="#">40FT standard container</a>
                </h4>
                <p>Reliable space for larger shipments. Designed to accommodate high-volume cargo, 
                    offering a cost-effective solution for commercial and industrial transportation needs.</p>
                <a href="{% url 'contact'%}" class="theme-btn mt-4 rounded-pill d-inline-flex align-items-center">Book Now </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4 col-md-6 mx-auto mx-xl-0 fade-up">
            <div class="service-two-item hover-effect bg-white rounded-20 overflow-hidden">
              <div class="img overflow-hidden rounded-20 position-relative">
                <a href="#" class="d-block w-100">
                  <div class="overlay-shape">
                    <img src="{% static 'mainWebsite/img/service/services_container_40_ft_high.png'%}" alt="service-two-img" class="img-fluid container-img">
                  </div>
                </a>
                </div>
              <div class="text pt-30">
                <h4 class="title heading-four mb-3">
                  <a href="#">40FT high cube container</a>
                </h4>
                <p>Extra height for maximum cargo capacity. Ideal for transporting bulky or lightweight 
                    goods that require additional storage space while maintaining efficient shipping costs.</p>
                <a href="{% url 'contact'%}" class="theme-btn mt-4 rounded-pill d-inline-flex align-items-center">Book Now</a>
              </div>
            </div>
          </div>
          
      </div>
    </section>