    
      {% load static %}

    <section class="ep-team-section style2 style3 mt-120 content bg-control mb-40">
      <div class="container">
        <div class="section-title text-center pb-60">
          <h2 class="title heading-three split-text right">
            Shipping <span>Photos Gallery</span>
          </h2>
            <p class="mt-3">
              Browse our photo gallery showcasing vehicle shipping,
              cargo handling, <br/> container loading, and logistics operations
              across international destinations.
            </p>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/1.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/1.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/2.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/2.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Generating Set Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/3.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/3.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/4.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/4.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/5.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/5.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Home Items Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                    <a href="{% static 'mainWebsite/img/photo_gallery/6.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/6.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                    </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/7.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/7.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/8.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/8.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Bicycle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/9.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/9.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Bicycle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/10.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/10.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/11.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/11.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/12.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/12.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle & Home Items Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/13.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/13.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/14.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/14.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>


           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/15.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/15.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/16.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/16.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/17.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/17.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/18.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/18.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Material Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/19.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/19.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Equipment Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/20.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/20.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Home Items Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/21.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/21.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Equipment Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/22.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/22.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/23.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/23.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/24.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/24.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/25.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/25.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Material Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/26.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/26.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Home Items Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/27.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/27.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Equipment Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/28.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/28.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Material Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/29.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/29.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Vehicle Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/30.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/30.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Home Items Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item bg-white rounded-20 hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 position-relative">
                  <a href="{% static 'mainWebsite/img/photo_gallery/31.jpg' %}" 
                    data-fancybox="gallery" class="d-block w-100">
                      <div class="overlay-shape overflow-hidden">
                        <img src="{% static 'mainWebsite/img/photo_gallery/31.jpg' %}" 
                        class="img-fluid-gallery w-100 rounded-20" alt="team" >
                      </div>
                  </a>
                <div class="text position-absolute rounded-20 d-flex align-items-center justify-content-between">
                  <div class="overlay">
                    <p class="designation rounded-6"></p>
                    <a href="team-details.html" class="d-block w-100">
                      <h4 class="name heading-four rounded-6">Generating Set Shipping</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>