    
     {% load static %}
    
     <section class="ep-testimonial-section-two style2 pt-120 content">
      <div class="container">
        <div class="section-title text-center mb-60">
          <h2 class="title heading-three split-text right mb-4">
            What Our Customers Say About <span>TDSS UK</span> 
          </h2>
        </div>
        <div class="row custom-gap">
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">James Carter</h6>
                </div>
              </div>
              <p>At first, I was unsure about shipping my vehicle overseas, but TDSS UK handled 
                everything professionally and made the process completely stress-free from start to 
                finish.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">Sarah Mitchell</h6>
                </div>
              </div>
              <p>I had concerns about international cargo delays, but TDSS UK handled 
                everything efficiently. My shipment arrived safely, and I was updated 
                throughout the entire journey.</p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">David Thompson</h6>
                </div>
              </div>
              <p>I needed help shipping a car to West Africa, and TDSS UK exceeded my 
                expectations. Their communication was clear, and the delivery was completed 
                without any issues.</p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">Olivia Brown</h6>
                </div>
              </div>
              <p>Shipping my car to West Africa felt complicated at first, yet TDSS UK 
                simplified everything with clear communication and reliable service 
                throughout the process.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">Michael Johnson</h6>
                </div>
              </div>
              <p>I was hesitant about using a new logistics company, but TDSS UK proved to be 
                trustworthy. My goods were delivered safely and exactly on schedule.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">Emma Wilson</h6>
                </div>
              </div>
              <p>Choosing a logistics provider was difficult, however TDSS UK quickly proved their 
                reliability by delivering my goods safely and exactly as scheduled.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                   <h6 class="name heading-six">Daniel Smith</h6>
                </div>
              </div>
              <p>Transporting my truck internationally required trust, and TDSS UK delivered exactly 
                that with careful handling and smooth coordination from start to finish.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <h6 class="name heading-six">Sophie Williams</h6>
                </div>
              </div>
              <p>Reliable shipping services were what I needed, and TDSS UK exceeded expectations by 
                ensuring my cargo arrived safely and without any complications.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 fade-up">
            <div class="slider-item rounded-20 position-relative">
              <div class="author d-flex align-items-end position-absolute">
                <div class="img overflow-hidden rounded-20">
                  <img src="{% static 'mainWebsite/img/images/user_avatar.png' %}" alt="testimonial-profile"
                    class="img-fluid w-100">
                </div>
                <div class="text">
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                   <h6 class="name heading-six">Robert Evans</h6>
                </div>
              </div>
              <p>International logistics was new to me, but TDSS UK made it straightforward 
                with excellent customer service and consistent updates throughout the journey.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>