    
     {% load static %}
    <section class="ep-counter-section pt-120">
      <div class="container">
        <div class="counter-body bg-two rounded-30 d-flex flex-wrap justify-content-between align-items-center">
          <div
            class="counter-item d-flex gap-3 justify-content-xxl-center justify-content-start align-items-start position-relative">
            <div class="icon">
              <img src="{% static 'mainWebsite/img/counter/counter01.svg'%}" alt="couter01">
            </div>
            <div class="text">
              <h2 class="heading-three d-flex align-items-center"><span class="odometer" data-count="100"></span>k+</h2>
              <p>Successful Deliveries</p>
            </div>
          </div>
          <div
            class="counter-item d-flex gap-3 justify-content-xxl-center justify-content-start align-items-start position-relative">
            <div class="icon">
              <img src="{% static 'mainWebsite/img/counter/counter02.svg'%}" alt="couter01">
            </div>
            <div class="text">
              <div class="heading-three d-flex align-items-center"><span class="odometer" data-count="50"></span>+</div>
              <p>Experienced Team Members</p>
            </div>
          </div>
          <div
            class="counter-item d-flex gap-3 justify-content-xxl-center justify-content-start align-items-start position-relative">
            <div class="icon">
              <img src="{% static 'mainWebsite/img/counter/counter03.svg'%}" alt="couter01">
            </div>
            <div class="text">
              <h2 class="heading-three d-flex align-items-center"><span class="odometer" data-count="3"></span>+</h2>
              <p>Years of Experience</p>
            </div>
          </div>
          <div
            class="counter-item d-flex gap-3 justify-content-xxl-center justify-content-start align-items-start position-relative">
            <div class="icon">
              <img src="{% static 'mainWebsite/img/counter/counter04.svg'%}" alt="couter01">
            </div>
            <div class="text">
              <h2 class="heading-three d-flex align-items-center"><span class="odometer" data-count="3"></span>k+</h2>
              <p>Satisfied Customers</p>
            </div>
          </div>
        </div>
      </div>
    </section>