    
     {% load static %}
    <div class="ep-price-section pt-120 content">
      <div class="container">
        <div class="section-title text-center pb-60">
          <h2 class="heading-three split-text right">Perfect Plan for Your Shipment</h2>
        </div>
        <div class="price-body bg-two rounded-20">
          <div class="row">
            <div class="col-lg-6">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button
                  class="nav-link feature-link fade-up d-flex justify-content-between align-items-center active mb-3"
                  id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">
                  <span class="plan-wraper d-flex flex-column">
                    <span class="plan-name heading-four">Basic Plan</span>
                    <span class="feature-name text-start p2 mt-3">
                      3 Fits Container
                    </span>
                  </span>
                  <span class="plan-price heading-three">
                    £99.00 <span class="p2">/ Per Container</span>
                  </span>
                </button>
                <button class="nav-link feature-link fade-up d-flex justify-content-between align-items-center mb-3"
                  id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button"
                  role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <span class="plan-wraper d-flex flex-column">
                    <span class="plan-name heading-four">Standard Plan</span>
                    <span class="feature-name p2 text-start mt-3">
                      40 Fits Container
                    </span>
                  </span>
                  <span class="plan-price heading-three">
                    £550.00 <span class="p2">/ Per Container</span>
                  </span>
                </button>
                <button class="nav-link feature-link fade-up d-flex justify-content-between align-items-center mb-3"
                  id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button"
                  role="tab" aria-controls="v-pills-profile" aria-selected="false">
                  <span class="plan-wraper d-flex flex-column">
                    <span class="plan-name heading-four">Premium Plan</span>
                    <span class="feature-name p2 text-start mt-3">
                      For Advanced Users
                    </span>
                  </span>
                  <span class="plan-price heading-three">
                    £- <span class="p2">/ Contact Support</span>
                  </span>
                </button>
              </div>
            </div>
            <div class="col-lg-6 fade-up">
              <div class="tab-content pt-4 pt-lg-0" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab" tabindex="0">
                  <h6 class="heading-six feature-title">
                    Comprehensive value, all-inclusive package
                  </h6>
                  <div class="feature-list">
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Picking up from location
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Dedicated customer support
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Packaging for shipments
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Sea Shipments
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Faster delivery options
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Downgrade shipping options
                        <span class="checkmark uncheck d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-xmark"></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                  tabindex="0">
                  <h6 class="heading-six feature-title">
                    Comprehensive value, all-inclusive package
                  </h6>
                  <div class="feature-list">
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Economical shipping options
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Dedicated customer support
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Freight Shipments
                        <span class="checkmark d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-check"></i>
                        </span>
                      </li>
                      
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Pick up support options
                        <span class="checkmark uncheck d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-xmark"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Expedited shipping options
                        <span class="checkmark uncheck d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-xmark"></i>
                        </span>
                      </li>
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        Downgrade shipping options
                        <span class="checkmark uncheck d-flex align-items-center justify-content-center rounded-pill">
                          <i class="fa-solid fa-xmark"></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-messages-tab"
                  tabindex="0">
                  <h6 class="heading-six feature-title">
                    Contact support for, all-inclusive package
                  </h6>
                  <div class="feature-list">
                    <ul class="list-unstyled">
                      <li class="d-flex align-items-center gap-3 justify-content-between">
                        For shipping needs that exceed our pricing plans, TDSSUK delivers bespoke logistics solutions built for scale, speed, and flexibility.
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="section-title text-start">
            <h6 class="subtitle d-inline-flex align-items-center">
              <p><b>Please Note:</b> For urgent/faster deliveries, expedited shipping is available; however, 
                additional charges will apply based on your selected timeframe.
              </P>
            </h6>
          </div>
        </div>
        
      </div>
    </div>