    
     {% load static %}
    <section class="ep-team-section pt-120 content">
      <div class="container">
        <div class="row">
          <div class="section-title text-center pb-60">
            <h6 class="subtitle d-inline-flex align-items-center">Our Expert Team
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.3171 1.10946e-05L19.3136 8.18934L11.3171 16.3787L3.32062 16.3787L11.3171 8.18934L3.32062 1.14441e-05L11.3171 1.10946e-05Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.686401 16.3787L0.686401 8.18934L0.686401 1.14441e-05L4.68376 4.09467L8.68199 8.18934L4.68376 12.284L0.686401 16.3787Z"
                    fill="currentColor" />
                </svg>
              </span>
            </h6>
            <div class="heading-two split-text right">Meet Our Expert</div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 overflow-hidden position-relative">
                <a href="team-details.html" class="d-block w-100">
                  <div class="overlay-shape overflow-hidden">
                    <img src="{% static 'mainWebsite/img/team/team01.jpg' %}" class="img-fluid w-100 rounded-20" alt="team">
                  </div>
                </a>
                <div class="team-icon position-absolute d-flex justify-content-between align-items-center flex-column">
                  <div class="social-icon">
                    <ul class="list-unstyled d-flex flex-column gap-3">
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button class="link-icon border-0 rounded-pill d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-link text-white"></i>
                  </button>
                </div>
                <div class="overlay position-absolute">
                  <p class="designation rounded-6 d-inline-block">UI/UX Designer</p>
                  <a href="team-details.html" class="d-block w-100">
                    <h4 class="name heading-four rounded-6">Sarah Benegal</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 overflow-hidden position-relative">
                <a href="team-details.html" class="d-block w-100">
                  <div class="overlay-shape overflow-hidden">
                    <img src="{% static 'mainWebsite/img/team/team02.jpg' %}" class="img-fluid w-100 rounded-20" alt="team">
                  </div>
                </a>
                <div class="team-icon position-absolute d-flex justify-content-between align-items-center flex-column">
                  <div class="social-icon">
                    <ul class="list-unstyled d-flex flex-column gap-3">
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button class="link-icon border-0 rounded-pill d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-link text-white"></i>
                  </button>
                </div>
                <div class="overlay position-absolute">
                  <p class="designation rounded-6 d-inline-block">UI/UX Designer</p>
                  <a href="team-details.html" class="d-block w-100">
                    <h4 class="name heading-four rounded-6">Sarah Benegal</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mx-auto mx-lg-0 fade-up">
            <div class="team-item hover-effect">
              <div class="image mb-3 mb-lg-0 rounded-20 overflow-hidden position-relative">
                <a href="team-details.html" class="d-block w-100">
                  <div class="overlay-shape overflow-hidden">
                    <img src="{% static 'mainWebsite/img/team/team03.jpg' %}" class="img-fluid w-100 rounded-20" alt="team">
                  </div>
                </a>
                <div class="team-icon position-absolute d-flex justify-content-between align-items-center flex-column">
                  <div class="social-icon">
                    <ul class="list-unstyled d-flex flex-column gap-3">
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          class="icon-secondary rounded-pill d-flex align-items-center justify-content-center">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button class="link-icon border-0 rounded-pill d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-link text-white"></i>
                  </button>
                </div>
                <div class="overlay position-absolute">
                  <p class="designation rounded-6 d-inline-block">UI/UX Designer</p>
                  <a href="team-details.html" class="d-block w-100">
                    <h4 class="name heading-four rounded-6">Sarah Benegal</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>