    
     {% load static %}
    <section class="ep-testimonial-section overflow-hidden">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image position-relative">
            <img src="{% static 'mainWebsite/img/testimonial/testimonial-left.jpg'%}" class="imageParallax img-fluid w-100"
              alt="testimonial">
            <div class="overlay position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
              <a class="play-btn ripple rounded-pill d-flex align-items-center text-center justify-content-center vidplay"
                href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testimonial-content position-relative py-120">
            <div class="section-title pb-60">
              <h6 class="subtitle d-inline-flex text-white align-items-center">Testimonials
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M11.3171 1.10946e-05L19.3136 8.18934L11.3171 16.3787L3.32062 16.3787L11.3171 8.18934L3.32062 1.14441e-05L11.3171 1.10946e-05Z"
                      fill="currentColor" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.686401 16.3787L0.686401 8.18934L0.686401 1.14441e-05L4.68376 4.09467L8.68199 8.18934L4.68376 12.284L0.686401 16.3787Z"
                      fill="currentColor" />
                  </svg>
                </span>
              </h6>
              <h2 class="heading-two text-white split-text right">What Our Clients Say</h2>
            </div>
            <div class="quote position-absolute">
              <img src="{% static 'mainWebsite/img/testimonial/shape.svg'%}" alt="shape">
            </div>
            <div class="swiper testimonial-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      Since partnering with Tranzit Logistics, my business,
                      ABC Companies, has experienced a significant boosts in
                      its ability to the fulfill customers orders quickly and
                      efficiently. Their reliable and fast shippings has
                      allowed us to expand our reach to new markets and keep
                      our existing customers satisfied. Tranzit's commitment
                      to on-time delivery.
                    </p>
                    <div class="client-info d-flex gap-3 pt-40 flex-wrap">
                      <div class="profile rounded-10 overflow-hidden">
                        <img src="{% static 'mainWebsite/img/testimonial/testimonial-profile.jpg'%}"
                          class="img-fluid w-100 object-fit-cover" alt="profile">
                      </div>
                      <div>
                        <h4 class="heading-six name text-white">
                          Jackson Millar
                        </h4>
                        <p class="designation">UI/UX Designer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      Since partnering with Tranzit Logistics, my business,
                      ABC Companies, has experienced a significant boosts in
                      its ability to the fulfill customers orders quickly and
                      efficiently. Their reliable and fast shippings has
                      allowed us to expand our reach to new markets and keep
                      our existing customers satisfied. Tranzit's commitment
                      to on-time delivery.
                    </p>
                    <div class="client-info d-flex gap-3 pt-40 flex-wrap">
                      <div class="profile rounded-10 overflow-hidden">
                        <img src="{% static 'mainWebsite/img/testimonial/testimonial-profile.jpg'%}"
                          class="img-fluid w-100 object-fit-cover" alt="profile">
                      </div>
                      <div>
                        <h4 class="heading-six name text-white">
                          Jackson Millar
                        </h4>
                        <p class="designation">UI/UX Designer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-nav gap-3 d-flex position-absolute align-items-center justify-content-end">
                <div class="prev hover-effect-btn-2 left d-flex align-items-center justify-content-center rounded-pill">
                  <i class="fa-solid fa-arrow-left"></i>
                  <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="next hover-effect-btn-2 d-flex align-items-center justify-content-center rounded-pill">
                  <i class="fa-solid fa-arrow-right"></i>
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>