    
     {% load static %}
    
    <section class="ep-work-process-section py-120 mt-120 bg-one rounded-30 content">
      <div class="container">
        <div class="row">
          <div class="section-title text-center pb-60">
            <h2 class="heading-three title split-text right">How TDSSUK Works</h2>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-sm-6 mx-auto mx-lg-0 process-label fade-up">
            <div class="process-item hover-effect text-center position-relative">
              <div class="image position-relative mx-auto">
                <div class="overlay-shape rounded-pill overflow-hidden">
                  <img src="{% static 'mainWebsite/img/work/work01.jpg' %}" class="rounded-pill img-fluid w-100" alt="work">
                </div>
                <h3
                  class="heading-three number position-absolute rounded-pill d-flex align-items-center justify-content-center top-50 translate-middle-y">
                  01
                </h3>
              </div>
              <div class="text pt-30 px-xl-5">
                <h3 class="heading-three pb-20">Get a Quote</h3>
                <p>
                  Request a fast, accurate shipping quote tailored to your cargo and destination.
                </p>
              </div>
              <div class="line-shape position-absolute">
                <svg xmlns="http://www.w3.org/2000/svg" width="222" height="45" viewBox="0 0 222 45" fill="none">
                  <path class="line" d="M1 14.7573C32.3333 33.424 114.9 61.5573 194.5 24.7573" stroke="#001F3F"
                    stroke-width="3" stroke-dasharray="5 5" />
                  <path
                    d="M193.662 25.4918L193.685 25.1576L193.384 25.0098L179.231 18.0514L213.092 13.9529L192.611 41.2256L193.662 25.4918Z"
                    fill="#001F3F" stroke="#001F3F" />
                </svg>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mx-auto mx-lg-0 process-label fade-up">
            <div class="process-item hover-effect text-center position-relative">
              <div class="image position-relative mx-auto">
                <div class="overlay-shape rounded-pill overflow-hidden">
                  <img src="{% static 'mainWebsite/img/work/work02.jpg' %}" class="rounded-pill img-fluid w-100" alt="work">
                </div>
                <h3
                  class="heading-three number position-absolute rounded-pill d-flex align-items-center justify-content-center top-50 translate-middle-y">
                  02
                </h3>
              </div>
              <div class="text pt-30 px-xl-5">
                <h3 class="heading-three pb-20">Book Your Shipment</h3>
                <p>
                  Confirm your booking in seconds and let our logistics team handle the rest.
                </p>
              </div>
              <div class="line-shape position-absolute">
                <svg xmlns="http://www.w3.org/2000/svg" width="222" height="45" viewBox="0 0 222 45" fill="none">
                  <path class="line" d="M1 14.7573C32.3333 33.424 114.9 61.5573 194.5 24.7573" stroke="#001F3F"
                    stroke-width="3" stroke-dasharray="5 5" />
                  <path
                    d="M193.662 25.4918L193.685 25.1576L193.384 25.0098L179.231 18.0514L213.092 13.9529L192.611 41.2256L193.662 25.4918Z"
                    fill="#001F3F" stroke="#001F3F" />
                </svg>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mx-auto mx-lg-0 process-label fade-up">
            <div class="process-item hover-effect text-center position-relative">
              <div class="image position-relative mx-auto">
                <div class="overlay-shape rounded-pill overflow-hidden">
                  <img src="{% static 'mainWebsite/img/work/work031.jpg' %}" class="rounded-pill img-fluid w-100" alt="work">
                </div>
                <h3
                  class="heading-three number position-absolute rounded-pill d-flex align-items-center justify-content-center top-50 translate-middle-y">
                  03
                </h3>
              </div>
              <div class="text pt-30 px-xl-5">
                <h3 class="heading-three pb-20">Delivery & Support</h3>
                <p>
                  Track your shipment in real time with full support until it arrives it's destination safely.
                </p>
              </div>
              <div class="line-shape position-absolute">
                <svg xmlns="http://www.w3.org/2000/svg" width="222" height="45" viewBox="0 0 222 45" fill="none">
                  <path class="line" d="M1 14.7573C32.3333 33.424 114.9 61.5573 194.5 24.7573" stroke="#001F3F"
                    stroke-width="3" stroke-dasharray="5 5" />
                  <path
                    d="M193.662 25.4918L193.685 25.1576L193.384 25.0098L179.231 18.0514L213.092 13.9529L192.611 41.2256L193.662 25.4918Z"
                    fill="#001F3F" stroke="#001F3F" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>