    
    {% load static %}
    <section class="ep-contact-section pt-120">
      <div class="container">
        <div class="contact-info">
          <div class="row g-4">
            <div class="col-md-6 col-xl-6">
              <div class="info-item rounded-30 d-flex align-items-center gap-3">
                <div class="icon flex-shrink-0 d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-eye"></i>
                </div>
                <div class="text">
                  <h4 class="heading-four mb-1">Our Vision</h4>
                  <p>To attain the apex of handling cargo import and export between the 
                    United Kingdom and Africa, thereby extending our exemplary services to 
                    majority African countries.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="info-item rounded-30 d-flex align-items-center gap-3">
                <div class="icon flex-shrink-0 d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-bullseye"></i>
                </div>
                <div class="text">
                  <h4 class="heading-four mb-1">Our Mission</h4>
                  <p>To earn the lifelong trust and loyalty of our customers by delivering 
                    exceptional logistics solutions through reliable service, personal attention, 
                    and efficient worldwide transportation.</p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>