    
     {% load static %}
    <section class="ep-about-section pt-120">
      <div class="container">
        <div class="row g-4">
          <div class="col-xl-6 col-lg-9 mx-auto">
            <div class="about-img position-relative">
              <div class="img reveal zoom-out rounded-20 overlay-shape overflow-hidden">
                <img src="{% static 'mainWebsite/img/about/domestic.jpg' %}" class="rounded-20 img-fluid w-100" alt="about01">
              </div>
              <div class="shape position-absolute">
                <img src="{% static 'mainWebsite/img/about/shape01.svg ' %}" alt="shape01">
                <h5 class="heading-five experiance text-white position-absolute">
                  3+ Years of Experience
                </h5>
              </div>
              
            </div>
          </div>
          <div class="col-xl-6 col-lg-9 mx-auto">
            <div class="about-content pt-4 pt-xl-0">
              <div class="section-title pb-30">
                
                <h2 class="heading-three title split-text right">
                  Who We Are And What We Do.
                </h2>
              </div>
              <p class="about-text ps-3">
                TDSS UK was established in the United Kingdom to meet up to the expectations of 
                businessmen, exporters and importers who actively or intend to run logistics to 
                West African countries. <br/>
                We have always offered a wide range of worldwide shipping services. <br/>
                From the onset we took pride in customer service & slowly began to build a 
                base for the business bringing in new customers whilst providing repeat work 
                for existing customers.
              </p>
              <br/>
              <p>
                TDSS UK actively ships to Nigeria and Ghana but based on huge demand in 
                shipping goods, we have decided to extend our services to all West African countries. 
                <br/>After many years of building our business relationships with overseas clearing 
                agents. We were soon shipping cars, vans, trucks buses & containers to the region.
              </p>
              <div class="tracking-info pb-30 mb-40">
                
              </div>
              <div class="d-flex gap-5 align-items-center flex-wrap">
                <a href="{% url 'contact'%}" class="theme-btn style3 rounded-pill">Know More</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>