{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- title -->
  <title>Get Quote - TDSSUK GLOBAL SERVICES LTD</title>
  <meta name="description" content="TDSSUK GLOBAL SERVICES LTD">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
  {% include "mainWebsite/includes/cssFiles.html" %}
</head>

<body>
  <!-- Preloader start -->
 {% include "mainWebsite/includes/preloader.html" %}
  <!-- Preloader end -->
  <!-- Header section start -->
  <div id="header-fixed-height"></div>
  <header class="ep-header-section" id="sticky-header">
    <!-- Top header section start -->
    {% include "mainWebsite/includes/topBar.html"%}
    <!-- Top header section end -->

    <!-- Nav-->
    {% include "mainWebsite/includes/navBar.html"%}
    <!-- header search part end -->
    {% include "mainWebsite/includes/mobileSideBar.html" %}
    <!-- offcanvas menu part end -->

    <!-- mobile navbar part start -->
    {% include "mainWebsite/includes/mobileMenu.html" %}
    <!-- mobile navbar part end -->
  </header>
  <!-- Header section end -->
  <!-- Main area start -->
  <main>
    <!-- Page header section start -->
    <section class="ep-page-header-section bg-control" data-background="{% static 'mainWebsite/img/images/page-header.jpg'%}">
      <div class="overlay bg-control" data-background="{% static 'mainWebsite/img/bg/page-header-overlay-bg.png' %}">
        <div class="container">
          <div class="text text-center">
            <h1 class="page-title text-white pb-20">Get Quote</h1>
            <ul class="list-unstyled bread-crumb d-flex justify-content-center">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li>Get Quote</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Page header section end -->

    <section class="ep-contact-section mb-60">
      <div class="container">
        <div class="contact-info-main pt-120">
          <div class="section-title text-center mb-60">
            <h2 class="title heading-three split-text right mb-4">
              Get a Quote
            </h2>
             <div class="section-title text-center mb-60">
            <div class="accordion-body">
            <p>
              Looking for reliable and affordable shipping solutions? <br/> Submit your details and our
              team will provide a customized quote based on your specific cargo and logistics
              requirements.
            </p>
            </div>
           </div>
          </div>
          <div class="mt-2" id="top_alert"></div>
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="tranzit-contact-form style3 rounded-20 me-0">
                <form hx-post="{% url 'quote_submission' %}"
                  hx-target="#quote-response"
                  hx-swap="innerHTML"
                  hx-indicator="#loader"
                  hx-disabled-elt="#action-btn"
                  id="quote-form">

                  {% csrf_token %}
                  <div class="row g-4">
                    <div class="col-lg-12">
                      <div class="input-group black">
                        <input name="sender_name" type="text" class="form-control shadow-none rounded-pill"
                          placeholder="Your Name">
                        <span class="icon position-absolute top-50 translate-middle-y"><i
                            class="fa-solid fa-user"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <input name="sender_email" type="text" class="form-control shadow-none rounded-pill"
                          placeholder="Your Email">
                        <span class="icon position-absolute top-50 translate-middle-y"><i
                            class="fa-solid fa-envelope"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <input name="sender_phone" type="text" class="form-control shadow-none rounded-pill"
                          placeholder="Phone No:">
                        <span class="icon position-absolute top-50 translate-middle-y"><i
                            class="fa-solid fa-phone"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-group">
                        <select name="sender_serviceType" class="form-select primary shadow-none rounded-pill">
                          <option value="" selected disabled>Services Required</option>
                          <option value="Sea Shipping">Sea Shipping</option>
                          <option value="Air Freight">Air Freight</option>
                          <option value="Vehicle Shipment">Vehicle Shipment</option>
                          <option value="Other Types">Other Types</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <input
                            list="countries_from"
                            name="sender_from_country"
                            class="form-control rounded-pill"
                            placeholder="From">

                        <datalist id="countries_from">
                            {% for country in countries %}
                                <option value="{{ country.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <input
                            list="countries_to"
                            name="sender_to_country"
                            class="form-control rounded-pill"
                            placeholder="To">

                        <datalist id="countries_to">
                            {% for country in countries %}
                                <option value="{{ country.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="input-group">
                        <textarea name="sender_message" placeholder="Additional message to serve you better"
                          class="form-control textarea-control shadow-none rounded-pill"></textarea>
                        <span class="icon icon-textarea position-absolute"><i class="fa-solid fa-pen"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <button type="submit" id="action-btn"
                        class="theme-btn hover-effect-btn style2 text-uppercase w-100 border-0 rounded-pill d-flex align-items-center gap-2 text-center justify-content-center">
                        Submit
                        <span id="loader" class="htmx-indicator">
                          <i class="fas fa-spinner fa-spin"></i>
                      </span>
                      </button>
                    </div>
                  </div>
                </form>
                <div class="mt-2" id="quote-response"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="contact-img h-100 rounded-20 overflow-hidden">
                <img src="{% static 'mainWebsite/img/images/get_quote.png' %}" alt="contact-img"
                  class="h-100 object-fit-cover img-fluid w-100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- cta section start -->
    {% include "mainWebsite/components/ourLocationSection.html" %}
  </main>
  <!-- Main area end -->
    {% include "mainWebsite/includes/floatButton.html" %}
  <!-- Back to top button end -->
  <!-- Footer section start -->
    <footer class="ep-footer-section">

      {% include "mainWebsite/includes/footer.html" %}
  <!-- Footer section end -->
    </footer>

   {% include "mainWebsite/includes/javaScript.html" %}
  <!-- JS end here -->
</body>
</html>