
{% extends "mainDash/layouts/baseDash.html" %}
{% load static %}
{% block title %}Delivery Performance{% endblock %}
{% block content %}

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Delivery Performance</h2>
        <div class="page-pretitle">On-time delivery rates and performance trends</div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div id="report-container">
      {% include "mainDash/components/delivery_performance_dataTable.html" %}
    </div>
  </div>
</div>

{% include "mainDash/includes/report_scripts.html" %}
{% endblock %}