
{% extends "mainDash/layouts/baseDash.html" %}
{% load static %}
{% block title %}Driver Analytics{% endblock %}
{% block content %}

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Driver & Carrier Analytics</h2>
        <div class="page-pretitle">Carrier performance, vehicle status and route activity</div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div id="report-container">
      {% include "mainDash/components/driver_analytics_dataTable.html" %}
    </div>
  </div>
</div>

{% include "mainDash/includes/report_scripts.html" %}
{% endblock %}