    
 {% load static %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <!-- BEGIN NAVBAR LOGO -->
           <a href="#" aria-label="Tabler" class="navbar-brand navbar-brand-autodark"
            ><img src="{% static 'mainDash/images/tdssuk_logo.png'%}" width="150px" alt="logo"></a
          ><!-- END NAVBAR LOGO -->
        </div>
        <form class="card card-md" action="#" method="get" autocomplete="off">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot password</h2>
            <p class="text-secondary mb-4">Enter your email address and your password will be reset and emailed to you.</p>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" placeholder="Enter email" />
            </div>
            <div class="form-footer">
              <a href="#" class="btn btn-danger btn-4 w-100">
                <!-- Download SVG icon from http://tabler.io/icons/icon/mail -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-2"
                >
                  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                  <path d="M3 7l9 6l9 -6" />
                </svg>
                Send
              </a>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">Forget it, <a href="{% url 'login'%}">send me back</a> to the sign in screen.</div>
      </div>
    </div>