    

{% load static %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <!-- BEGIN NAVBAR LOGO -->
           <a href="error-404.html" aria-label="Tabler" class="navbar-brand navbar-brand-autodark"
            ><img src="{% static 'mainDash/images/tdssuk_logo.png'%}" width="150px" alt="logo">
            </a
          ><!-- END NAVBAR LOGO -->
        </div>
        <form class="card card-md" action="https://preview.tabler.io/" method="get" autocomplete="off" novalidate>
          <div class="card-body">
            <h2 class="card-title card-title-lg text-center mb-4">Authenticate Your Request</h2>
            <p class="my-4 text-center">Please confirm your action by entering the authorization code sent to <strong>zictechng@gmail.com</strong>.</p>
            <div class="my-5">
              <div class="row g-4">
                <div class="col">
                  <div class="row g-2">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row g-2">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg text-center px-3 py-3"
                        maxlength="1"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        data-code-input
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-4">
              <label class="form-check">
                {% comment %} <input type="checkbox" class="form-check-input" />
                    Dont't ask for codes again on this device {% endcomment %}
              </label>
            </div>
            <div class="form-footer">
              <div class="btn-list flex-nowrap">
                <a href="{% url 'login'%}" class="btn btn-3 w-100"> Cancel </a>
                <a href="#" class="btn btn-danger btn-3 w-100"> Authorized </a>
              </div>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">It may take a minute to receive your code. Haven't received it? <br/><a href="#">Resend a new code.</a></div>
      </div>
    </div>