                
                {% load static %}
                <nav class="nav nav-vertical nav-pills" id="pills">
                    <a class="nav-link" href="#pills-home">Home</a>
                    <a class="nav-link" href="#pills-profile">Profile</a>
                    <a class="nav-link" href="#pills-messages">Messages</a>
                    <a class="nav-link" href="#pills-settings">Settings</a>
                    <a class="nav-link" href="#pills-about">About</a>
                    <a class="nav-link" href="#pills-contact">Contact</a>
                    <a class="nav-link" href="#pills-services">Services</a>
                    <a class="nav-link" href="#pills-team">Team</a>
                    <a class="nav-link" href="#pills-work">Work</a>
                </nav>