            {% load static %}
            
            <header class="navbar navbar-expand-md sticky-top d-print-none">
                <div class="container-xl">
                    
                    <!-- BEGIN NAVBAR LOGO -->
                    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                        <a href="/dashboard/" aria-label="TDSS UK" class="d-inline-block d-md-none">
                        <img src="{% static 'mainDash/images/tdssuk_logo.png'%}" width="150px" alt="logo">
                        </a>
                    </div>
                    <!-- END NAVBAR LOGO -->
                        <div class="navbar-nav flex-row order-md-last">
                        
                                <div class="d-none d-md-flex">
                                <div class="d-none d-md-flex">
                                    <div class="nav-item dropdown d-none d-md-flex"
                                        id="notif-bell-wrapper"
                                        hx-get="{% url 'notifications_bell' %}"
                                        hx-trigger="load, every 60s"
                                        hx-swap="outerHTML">
                                        
                                    </div>
                                
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
                                    
                                    {% if user.profile.profile_image %}
                                        <span class="avatar avatar-sm rounded-circle"
                                            style="background-image: url('{{ user.profile.profile_image.url }}');">
                                        </span>
                                        {% else %}
                                        <span class="avatar avatar-sm rounded-circle text-white"
                                            style="background-color: var(--tblr-primary); font-weight:600;">
                                        {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}
                                        </span>
                                        {% endif %}
                                    <div class="d-none d-xl-block ps-2">
                                        <div>{{user.email}}</div>
                                        <div class="mt-1 small text-secondary">{{user.get_full_name}}</div>
                                    </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'notifications_list' %}" class="dropdown-item">
                                        Notifications
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    
                                        <form method="post" action="{% url 'logout' %}" style="margin:0;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item">
                                                Logout
                                            </button>
                                        </form>
                                    </div>
                                </div>
                        
                        </div>
                </div>

            </header>