    
    {% load static %}
    <link href="{% static 'mainDash/dist/libs/jsvectormap/dist/jsvectormap.css'%}" rel="stylesheet" />
 
    <link href="{% static 'mainDash/dist/css/tabler.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'mainDash/dist/libs/tom-select/dist/css/tom-select.bootstrap5.min.css'%}" rel="stylesheet" />
    
    <link
      href="{% static 'mainDash/dist/libs/dropzone/dist/dropzone.css'%}"
      rel="stylesheet"/>
      <link
      href="{% static 'mainDash/dist/css/tabler-flags.min.css'%}"
      rel="stylesheet"/>
    <link
      href="{% static 'mainDash/dist/css/tabler-socials.min.css'%}"
      rel="stylesheet"/>
    <link
      href="{% static 'mainDash/dist/css/tabler-payments.min.css'%}"
      rel="stylesheet"/>
    <link
      href="{% static 'mainDash/dist/css/tabler-vendors.min.css'%}"
      rel="stylesheet"/>
    <link
      href="{% static 'mainDash/dist/css/tabler-marketing.min.css'%}"
      rel="stylesheet"/>
    <link
      href="{% static 'mainDash/dist/css/tabler-themes.min.css'%}"
      rel="stylesheet"/>
    
    <link href="{% static 'mainDash/preview/css/demo.min.css'%}" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">