{% load static %}
<!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'mainWebsite/img/tdssuk_favicon.png' %}">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS start here -->
  <link rel="stylesheet" href="{% static 'mainWebsite/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mainWebsite/fontawsome/css/fontawesome.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/magnific-popup.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/animate.min.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/nice-select.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/odometer.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/swiper-bundle.min.css'%}">
  <link rel="stylesheet" href="{% static 'mainWebsite/css/style.css'%}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  
  <!-- CSS end here -->