
{% load static %}
<!-- JS start here -->
  <script src="{% static 'mainWebsite/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'mainWebsite/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'mainWebsite/js/gsap.js' %}"></script>
  <script src="{% static 'mainWebsite/js/gsap-scroll-trigger.js' %}"></script>
  <script src="{% static 'mainWebsite/js/gsap-split-text.js' %}"></script>
  <script src="{% static 'mainWebsite/js/simple-parallax.js' %}"></script>
  <script src="{% static 'mainWebsite/js/jquery.appear.js' %}"></script>
  <script src="{% static 'mainWebsite/js/jquery.odometer.min.js' %}"></script>
  <script src="{% static 'mainWebsite/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'mainWebsite/js/ajax-form.js' %}"></script>
  <script src="{% static 'mainWebsite/js/jquery.nice-select.js' %}"></script>
  <script src="{% static 'mainWebsite/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'mainWebsite/js/knob.js.js' %}"></script>
  <script src="{% static 'mainWebsite/js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>