<!-- offcanvas menu part start -->
    
{% load static %}
    <div class="offcanvas-overlay position-fixed top-0 start-0 w-100 h-100"></div>
<aside class="offcanvas-menu position-fixed top-0 h-100 w-100">
      <div class="header-info d-flex align-items-center justify-content-between gap-4">
        <div class="logo">
          <a href="index.html">
            <img src="{% static 'mainWebsite/img/logo/logo3.svg ' %}" alt="logo">
          </a>
        </div>
        <button class="offcasvas-close bg-transparent border-0 text-white">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>
      <div class="des">
        <p>Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a feugiat leo urna
          eget eros. Duis Aenean a imperdiet risus.</p>
      </div>
      <div class="contact-info separator">
        <h4 class="contact-title heading-four text-white">Contact Info</h4>
        <ul class="list-unstyled">
          <li class="d-flex align-items-center gap-3">
            <div
              class="icon-box icon-box-border d-flex align-items-center justify-content-center rounded-pill flex-shrink-0">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="info">
              <h5 class="info-label text-white mb-2">
                Call Now</h5>
              <a href="tel:+44741 535 5361" class="info-text">+44741 535 5361</a>
            </div>
          </li>
          <li class="d-flex align-items-center gap-3">
            <div
              class="icon-box icon-box-border d-flex align-items-center justify-content-center rounded-pill flex-shrink-0">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="info">
              <h5 class="info-label text-white mb-2">Email Us</h5>
              <a href="mailto:info@Tranzit.com" class="info-text">info@Tranzit.com</a>
            </div>
          </li>
          <li class="d-flex align-items-center gap-3">
            <div
              class="icon-box icon-box-border d-flex align-items-center justify-content-center rounded-pill flex-shrink-0">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="info">
              <h5 class="info-label text-white mb-2">Location</h5>
              <a href="#" class="info-text">235 Camden St,United States</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="social-icon pt-30">
        <h4 class="social-title heading-four text-white">Social Info</h4>
        <ul class="list-unstyled d-flex align-items-center flex-wrap gap-2">
          <li><a class="icon-box secondary-bg d-flex align-items-center justify-content-center rounded-pill"
              target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="icon-box secondary-bg d-flex align-items-center justify-content-center rounded-pill"
              target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a class="icon-box secondary-bg d-flex align-items-center justify-content-center rounded-pill"
              target="_blank" href="#"><i class="fab fa-behance"></i></a></li>
          <li><a class="icon-box secondary-bg d-flex align-items-center justify-content-center rounded-pill"
              target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
</aside>