    
    {% load static %}
    <div class="d-none d-xl-block top-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 align-self-center">
            <ul class="list-unstyled contact-info left d-flex flex-wrap align-items-center">
              <li class="d-flex align-items-center gap-2 text-white">
                <span class="icon">
                  <i class="fa-solid fa-phone"></i>
                </span>
                <a href="tel:+44741 535 5361"> +44741 535 5361</a>
              </li>
              <li class="d-flex align-items-center gap-2 text-white">
                <span class="icon">
                  <i class="fa-solid fa-envelope"></i>
                </span>
                <a href="mailto:support@tdssuk.co.uk"> support@tdssuk.co.uk</a>
              </li>
              <li class="d-flex align-items-center gap-2 text-white">
                <span class="icon">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <a href="#"></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="list-unstyled contact-info d-flex justify-content-end flex-wrap align-items-center">
              <div class="language d-flex align-items-center gap-2">
                
                <div class="input-group">
                  <select class="form-select white shadow-none">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="es">Spanish</option>
                   </select>
                </div>
              </div>
              <div class="social-icon">
                <ul class="d-flex list-unstyled gap-2">
                  <li>
                    <a href="https://www.facebook.com/share/1B94Fc5FVA/?mibextid=wwXIfr" target="_blank" class="rounded-pill d-flex align-items-center justify-content-center">
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </li>
                  {% comment %} <li>
                    <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="rounded-pill d-flex align-items-center justify-content-center">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li> {% endcomment %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>